{% extends 'base.html' %}
{% load static %}
{% block title %} Category Room List {% endblock %}
{% block sub %} Available Rooms {% endblock %}
{% block body %}
<h1 class="main_title_in">{{Category}}</h1>
</div><!-- End container -->
<div class="container add_bottom_60">

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-lg-12 col-md-11">
            {% for category in categories_lst %}
            <div class="row">
{#            onclick="location.href='{{ category.get_absolute_url1 }}';"#}
                <div class="room_desc clearfix" >
                                <div class="col-md-7">
                                    <figure><img src="{{ category.image.url }} " alt="" class="img-responsive"></figure>
                                </div>
                                <div class="col-md-5 room_list_desc">
                                    <h3>{{category.name}}</h3>
                                    <p> Còn 10 phòng</p>
                                    <ul style="display: flex; width:100%;">
                                        {% for s in category.service_list.all %}
                                        <li >
                                            <div class="tooltip_styled tooltip-effect-4">
                                                <span class="tooltip-item"><i class="{{s.description}}"></i></span>
                                	        <div class="tooltip-content">{{ s.services }}</div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="price">from <strong>${{category.price_randian}}</strong> /night<small>Breakafst
                                        included</small></div>
                                    <br>
                                    <div class="col-md-3" style="width: 60%;right: -20%;">
                                        <input  type="checkbox" name="category" id="{{category.name}}">
                                        <label for="{{ category.name }}"  class="btn btn-danger" data-toggle="modal"  >Booking</label>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End row room -->
                        {% endfor %}
                    </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-3">
                    <h3>Reviews</h3>
                    <a href="#" class="btn_1 add_bottom_15" data-toggle="modal" data-target="#myReview">Leave a
                        review</a>
                </div>
                <div class="col-md-8">
                    <hr>
                    {% for comment in comments %}
                    <div class="review_strip_single">
                        <img src="{% static 'img/avatar.jpg' %}" width="15%" height="50%" alt=""
                             class="img-circle">
                        <small style="color: #0b75c9">{{ comment.user.username }}</small>
                        <br>
                        <small> - {{comment.create_date}} -</small>
                        <br/>
                        <p>
                            {{ comment.comment }}
                        </p>
                    </div><!-- End review strip -->
                    {% endfor %}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <h3>Policies</h3>
                </div>
                <div class="col-md-9">
                    <ul id="policies">
                        <li><i class="icon_set_1_icon-83"></i><h5>Check-in and check-out.</h5>
                            <p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes
                                molestie. Sed ad debet scaevola, ne mel lorem legendos. Unum etiam cum te, an elit
                                assueverit vix, falli aliquam complectitur ex ius.</p>
                        </li>
                        <li><i class="icon_set_1_icon-54"></i><h5>Cancellation</h5>
                            <p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes
                                molestie. Sed ad debet scaevola, ne mel lorem legendos. Unum etiam cum te, an elit
                                assueverit vix, falli aliquam complectitur ex ius.</p>
                        </li>
                        <li><i class="icon_set_1_icon-47"></i><h5>Smoking</h5>
                            <p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes
                                molestie. Sed ad debet scaevola, ne mel lorem legendos. Unum etiam cum te, an elit
                                assueverit vix, falli aliquam complectitur ex ius.</p>
                        </li>
                        <li><i class="icon_set_1_icon-35"></i><h5>Payments</h5>
                            <p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes
                                molestie. Sed ad debet scaevola, ne mel lorem legendos. Unum etiam cum te, an elit
                                assueverit vix, falli aliquam complectitur ex ius.</p>
                        </li>
                        <li><i class="icon_set_1_icon-13"></i><h5>Disable</h5>
                            <p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes
                                molestie. Sed ad debet scaevola, ne mel lorem legendos. Unum etiam cum te, an elit
                                assueverit vix, falli aliquam complectitur ex ius.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- End col -->
        <div class="col-md-4" id="sidebar">
            <div class="theiaStickySidebar">
                <div class="box_style_1">
                    <div id="message-booking"></div>
                    <form method="POST" action="{% url 'customer:booking_room'  %}" id="check_avail">
                        {% csrf_token %}
                        <input type="hidden" name="data" id="data">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Arrival date</label>
                                    <input class="date-pick form-control" type="text" id="check_in" name="check_in"
                                           placeholder="Check in" data-date-format="M d D" value="{{ check_in }}" readonly>
                                    <span class="input-icon"><i class="icon-calendar-7"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Departure date</label>
                                    <input class="date-pick form-control" type="text" id="check_out" name="check_out"
                                           placeholder="Check out" data-date-format="M d D"  value="{{ check_out }}"readonly>
                                    <span class="input-icon"><i class="icon-calendar-7"></i></span>
                                </div>
                            </div>
                        </div><!-- End row -->
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label>Adults</label>
                                    <div class="qty-buttons" >
                                        <input type="button" value="-" class="qtyminus" name="adults">
                                        <input type="text" name="adults" id="adults" value="{{ adults }}" class="qty form-control"
                                               placeholder="0">
                                        <input type="button" value="+" class="qtyplus" name="adults">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label>Children</label>
                                    <div class="qty-buttons">
                                        <input type="button" value="-" class="qtyminus" name="children">
                                        <input type="text" name="children" id="children" value="{{ children }}"
                                               class="qty form-control" placeholder="0">
                                        <input type="button" value="+" class="qtyplus" name="children">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label>Voucher Code</label>
                                    <div class="">
                                        <input type="text" name="voucher_code" id="voucher_code" value="" class="form-control"
                                               placeholder="Enter Voucher">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <button type="submit" id="formBooking" onclick="addBooking()" value="Book now"
                                        class="btn_full"> Booking Now
                                </button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div href="#0" class=" btn_outline"> or Contact us</div>
                    <a href="tel://yourNumber" id="phone_2"><i class="icon_set_1_icon-91"></i>Your Number</a>

                </div><!-- End box_style -->
            </div><!-- End theiaStickySidebar -->
        </div><!-- End col -->

    </div><!-- End row -->


</div><!-- End container -->

<div id="dtBox"></div><!-- End datepicker -->


<!-- Modal Review -->
<div class="modal fade" id="myReview" tabindex="-1" role="dialog" aria-labelledby="myReviewLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myReviewLabel" style="font-weight:500;">Write your review</h4>
            </div>
            <div class="modal-body">
                <div id="message-review">
                </div>
                <form method="post" action="{% url 'customer:create_comment' %}" name="review" id="review">
                    {% csrf_token %}
                    <!-- End row -->
                    <div class="row">
                        <div class="">
                            <div class="form-group">
                                <select class="form-control" name="room_type_review" id="room_type_review">
                                    {% for cate in categories_lst %}
                                    <option value="{{ cate.name }}">{{ cate.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- End row -->
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Position</label>
                                <select class="form-control" name="position_review" id="position_review">
                                    <option value="">Please review</option>
                                    <option value="Low">Low</option>
                                    <option value="Sufficient">Sufficient</option>
                                    <option value="Good">Good</option>
                                    <option value="Excellent">Excellent</option>
                                    <option value="Superb">Super</option>
                                    <option value="Not rated">I don't know</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Comfort</label>
                                <select class="form-control" name="comfort_review" id="comfort_review">
                                    <option value="">Please review</option>
                                    <option value="Low">Low</option>
                                    <option value="Sufficient">Sufficient</option>
                                    <option value="Good">Good</option>
                                    <option value="Excellent">Excellent</option>
                                    <option value="Superb">Super</option>
                                    <option value="Not rated">I don't know</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- End row -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Price</label>
                                <select class="form-control" name="price_review" id="price_review">
                                    <option value="">Please review</option>
                                    <option value="Low">Low</option>
                                    <option value="Sufficient">Sufficient</option>
                                    <option value="Good">Good</option>
                                    <option value="Excellent">Excellent</option>
                                    <option value="Superb">Super</option>
                                    <option value="Not rated">I don't know</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Quality</label>
                                <select class="form-control" name="quality_review" id="quality_review">
                                    <option value="">Please review</option>
                                    <option value="Low">Low</option>
                                    <option value="Sufficient">Sufficient</option>
                                    <option value="Good">Good</option>
                                    <option value="Excellent">Excellent</option>
                                    <option value="Superb">Super</option>
                                    <option value="Not rated">I don't know</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- End row -->
                    <div class="form-group">
                        <textarea name="review_text" id="review_text" class="form-control" style="height:100px"
                                  placeholder="Write your review"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" id="verify_review" class="form-control" placeholder="Are you human? 3 + 1 =">
                    </div>
                    <input type="submit" value="Submit" class="btn_1" id="submit-review">
                </form>
            </div>
        </div>
    </div>
</div><!-- End Modal Review -->





{% endblock %}
{% block scripts %}
<!-- SPECIFIC SCRIPTS -->
<script>
    function addBooking(){
    category_list = document.getElementsByName("category");
    data = document.getElementById('data');
    var str="";
    for(var i = 0; i < category_list.length; i++){
        if (category_list[i].checked == true){
                str = str + category_list[i].id;
                break;
        }
    }
    data.setAttribute("value",str);
}


</script>

<script>

  $('.carousel_in').owlCarousel({
    center: true,
    items:1,
    loop:true,
	 autoplay:true,
	 navText: [ '', '' ],
	addClassActive: true,
    margin:5,
    responsive:{
        600:{
            items:1
        },
		 1000:{
            items:2,
			nav:true,
        }
    }
});






</script>
<script src="{% static 'js/theia-sticky-sidebar.js' %}"></script>
<script>
    jQuery('#sidebar').theiaStickySidebar({
      additionalMarginTop: 80
    });




</script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/bootsrap_datepicker_func.js' %}"></script>
{% endblock %}