{% extends 'base.html' %}
{% load static %}
{% block title %} Category Room List {% endblock %}
{% block sub %} Our Wonderfull Rooms {% endblock %}

{% block body %}
<div class="container margin_60">
    <div class="row">
        <div class="col-lg-9 col-md-8">
            {% for category in categories_lst %}
            <div class="row">
                <div class="room_desc clearfix" onclick="location.href='{{ category.get_absolute_url2 }}';">
                                <div class="col-md-7">
                                    <figure><img src="{{ category.image.url }} " alt="" class="img-responsive"></figure>
                                </div>
                                <div class="col-md-5 room_list_desc">
                                    <h3>{{category.name}}</h3>
                                    <p>{{ category.description_home }}</p>
                                    <ul style="display: flex; width:100%;">
                                        {% for s in category.service_list.all %}
                                        <li >
                                            <div class="tooltip_styled tooltip-effect-4">
                                                <span class="tooltip-item"><i class="{{s.description}}"></i></span>
                                	        <div class="tooltip-content">{{ s.name }}</div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="price">from <strong>${{category.price_randian}}</strong> /night<small>Breakafst
                                        included</small></div>
                                </div>
                            </div>
                        </div><!-- End row room -->
                        {% endfor %}
                    </div>
                    <div class="col-lg-3 col-md-4 sidebar">

                        <div class="theiaStickySidebar">
                            <div class="box_style_3" id="general_facilities">
                                <h3>General facilities</h3>
                                <ul>
                                    <li><i class="icon_set_1_icon-86"></i>Free Wifi</li>
                                    <li><i class="icon_set_2_icon-103"></i>Loundry service</li>
                                    <li><i class="icon_set_2_icon-110"></i>Swimming pool</li>
                                    <li><i class="icon_set_1_icon-58"></i>Restaurant</li>
                                    <li><i class="icon_set_1_icon-27"></i>Parking</li>
                                </ul>
                            </div>
                            <div class="box_style_2">
                                <i class="icon_set_1_icon-90"></i>
                                <h4>Need help? Call us</h4>
                                <a href="tel://yourNumber" class="phone">Your Number</a>
                                <small>Monday to Friday 9.00am - 7.30pm</small>
                            </div>

                        </div>
                    </div>

                </div><!-- End row -->
            </div><!-- End container -->


            {% endblock %}


            {% block scripts %}
            <!-- SPECIFIC SCRIPTS -->
            <script src="{% static 'js/theia-sticky-sidebar.js' %}"></script>
            <script>
    jQuery('.sidebar').theiaStickySidebar({
      additionalMarginTop: 80
    });


            </script>

            {% endblock %}
