{% extends 'base.html' %}
{% load static %}
{% block title %} Change Password {% endblock %}

{% block sub %} Change Password {% endblock %}
<br/>
<br/>
{% block body %}
{% ifequal error "no" %}
<script>
    alert('Password Changeed...')
    window.location=('{% url "customer:logout" %}')
</script>

{% endifequal %}
{% ifequal error "yes" %}
<script>
    alert("Something Went Wrong!")
</script>
{% endifequal %}

<div class="container mt-5 " style="background-color: whitesmoke;">
    <div class="row">
        <div class="col-sm-6">
            <br/>
            <img src="{% static 'img/slides/slide_1.jpg' %}" alt="" width="90%" height="300px">
        </div>
        <div class="col-sm-6">
            <h2 class="text-center">CHANGE PASSWORD</h2>
            <hr>
            <form action="" method="POST">
                    {% csrf_token %}
                <label for="Old Password">Old Password</label>
                <input type="password" class="form-control" id="Old Password" placeholder="Enter Your Old Password" name="o-pwd">
                <label for="New Password">New Password</label>
                <input type="password" class="form-control" id="New Password" placeholder="Enter New Password" name="n-pwd">
                <label for="New Password Again">New Password Again</label>
                <input type="password" class="form-control" id="New Password Again" placeholder="Enter New Password Again" name="c-pwd">
                <input type="submit" class="btn btn-danger mt-2" value="SUBMIT">
            </form>
        </div>
    </div>
</div>

<br/>
<br/>
{% endblock %}