<div id="single_room_feat">
                {% ifequal Category "Single Room" %}
                <ul>
                    <li>
                        <div class="tooltip_styled tooltip-effect-4">
                            <span class="tooltip-item"><i class="icon_set_2_icon-104"></i></span>
                            <div class="tooltip-content">King size bed</div>
                        </div>
                    </li>
                    <li>
                        <div class="tooltip_styled tooltip-effect-4">
                            <span class="tooltip-item"><i class="icon_set_2_icon-118"></i></span>
                            <div class="tooltip-content">Shower</div>
                        </div>
                    </li>
                    <li>
                        <div class="tooltip_styled tooltip-effect-4">
                            <span class="tooltip-item"><i class="icon_set_2_icon-116"></i></span>
                            <div class="tooltip-content">Plasma TV</div>
                        </div>
                    </li>
                </ul>
                {% endifequal %}
                {% ifequal Category "Double Room" %}
                <ul>
                    <li>
                        <div class="tooltip_styled tooltip-effect-4">
                            <span class="tooltip-item"><i class="icon_set_2_icon-104"></i></span>
                            <div class="tooltip-content">King size bed</div>
                        </div>
                    </li>
                    <li>
                        <div class="tooltip_styled tooltip-effect-4">
                            <span class="tooltip-item"><i class="icon_set_2_icon-118"></i></span>
                            <div class="tooltip-content">Shower</div>
                        </div>
                    </li>
                    <li>
                        <div class="tooltip_styled tooltip-effect-4">
                            <span class="tooltip-item"><i class="icon_set_2_icon-116"></i></span>
                            <div class="tooltip-content">Plasma TV</div>
                        </div>
                    </li>
                </ul>
                {% endifequal %}
                {% ifequal Category "Suite Room" %}
                <ul>
                    <li>
                        <div class="tooltip_styled tooltip-effect-4">
                            <span class="tooltip-item"><i class="icon_set_2_icon-104"></i></span>
                            <div class="tooltip-content">King size bed</div>
                        </div>
                    </li>
                    <li>
                        <div class="tooltip_styled tooltip-effect-4">
                            <span class="tooltip-item"><i class="icon_set_2_icon-118"></i></span>
                            <div class="tooltip-content">Shower</div>
                        </div>
                    </li>
                    <li>
                        <div class="tooltip_styled tooltip-effect-4">
                            <span class="tooltip-item"><i class="icon_set_2_icon-116"></i></span>
                            <div class="tooltip-content">Plasma TV</div>
                        </div>
                    </li>
                    <li>
                        <div class="tooltip_styled tooltip-effect-4">
                            <span class="tooltip-item"><i class="icon_set_2_icon-106"></i></span>
                            <div class="tooltip-content">Safe box</div>
                        </div>
                    </li>
                </ul>
                {% endifequal %}
                {% ifequal Category "Double Room Luxury" %}
                <ul>
                    <li>
                        <div class="tooltip_styled tooltip-effect-4">
                            <span class="tooltip-item"><i class="icon_set_2_icon-104"></i></span>
                            <div class="tooltip-content">King size bed</div>
                        </div>
                    </li>
                    <li>
                        <div class="tooltip_styled tooltip-effect-4">
                            <span class="tooltip-item"><i class="icon_set_2_icon-111"></i></span>
                            <div class="tooltip-content">Bathtub</div>
                        </div>
                    </li>
                    <li>
                        <div class="tooltip_styled tooltip-effect-4">
                            <span class="tooltip-item"><i class="icon_set_2_icon-116"></i></span>
                            <div class="tooltip-content">Plasma TV</div>
                        </div>
                    </li>
                    <li>
                        <div class="tooltip_styled tooltip-effect-4">
                            <span class="tooltip-item"><i class="icon_set_1_icon-15"></i></span>
                            <div class="tooltip-content">Welcome bottle</div>
                        </div>
                    </li>
                    <li>
                        <div class="tooltip_styled tooltip-effect-4">
                            <span class="tooltip-item"><i class="icon_set_2_icon-106"></i></span>
                            <div class="tooltip-content">Safe box</div>
                        </div>
                    </li>
                </ul>
                {% endifequal %}
            </div>