<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>

<div class="container mt-5 " style="background-color: whitesmoke;">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="text-center">EXISTING CUSTOMER</h2>
            <hr>
            <p>By Creating an account with our website, u will be able to move through the notes upload
                and downloading process and more...</p>
            <center><a href="{% url 'customer:Login' %}" class="btn btn-danger text-white mt-5 ">LOGIN NOW</a></center>
        </div>
        <div class="col-sm-6">
            <h2 class="text-center">REGISTER WITH US</h2>
            <hr>
            <p> If you have not an account with us , please sign up... </p>
            <form action="" method="post">
                {% csrf_token %}
                <label for="Firstname">First Name</label>
                <input type="text" id="Firstname" class="form-control" name="first_name" placeholder="Enter FirstName">
                <label for="Lastname">Last Name</label>
                <input type="text" id="Lastname" class="form-control" name="last_name" placeholder="Enter LastName">
                <label for="Contact">Contact</label>
                <input type="text" id="Contact" class="form-control" name="contact" placeholder="Enter Contact">
                <label for="Email">Email Address</label>
                <input type="email" class="form-control" id="Email" placeholder="Enter EmailID" name="email">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="Password" placeholder="Enter Password" name="pwd">
                <input type="submit" class="btn btn-danger mt-2" value="SUBMIT">
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>


{% ifequal error 'no' %}
<script>
    alert("Signup Successfull")
    window.location=("{% url 'customer:Login' %}")
</script>
{% endifequal %}
{% ifequal error 'yes' %}
<script>
    alert("Something Went Wrong, Try Again")
</script>
{% endifequal %}

</body>
</html>